<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
    <title>error</title>
    <!-- start:css -->
    <!-- end:css -->
</head>
<body>
    <div id="app">{{ markup|safe }}</div>
    <script type="application/json" id="initial-state">{{ initialState|json|safe }}</script>
    <!-- start:js -->
    <!-- end:js -->
</body>
</html>
