<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1,maximum-scale=1,user-scalable=no" />
    <meta http-equiv="pragma" content="no-cache">
    <meta http-equiv="Cache-Control" content="no-cache, must-revalidate">
    <meta http-equiv="expires" content="Wed, 26 Feb 1997 08:21:57 GMT">
    <title>layer</title>
</head>
<body>
    <div id="app">{{ markup|safe }}</div>
    <script type="application/json" id="initial-state">{"menuList":[{"name":"开发部","value":[{"name":"IOS开发"},{"name":"Android开发"},{"name":"前端开发","checked":true}],"checked":false},{"name":"设计部","value":[{"name":"平面设计"},{"name":"交互设计"},{"name":"工业设计"}]}]}</script>
</body>
</html>
