@import '~normalize.css/normalize.css';
@import '../common/common.styl'

body {
    font-family: "Microsoft YaHei", Arial, Helvetica, sans-serif;
}


#app {
    width 100%;
    font-dpr(14)
    
}

.icon-arrow 
    width pxrem(64)
    height pxrem(64)
    background url(../images/img_03.png) no-repeat center center
    background-size pxrem(48) pxrem(48)
    transition-duration:300ms
    &.on 
        transform:rotate(90deg)

.header {
    mutiple-text-overflow()
    height: 40px;
	text-align center;
	font-dpr(14);

}

.title {
    display: flex;
}
.copy {
	text-align:right;
	line-height: 1rem;
	padding-right: 1rem;
	color:blue;
}